<button type="button" class="btn btn-dark"> 
	<%= link_to "Back To Home Page", root_path %>		
</button>



<div class="card-body">
	<h5 class="card-title">
<%= @author.author_name %>
</h5>
<p class="card-text">
<%= @author.author_description %>
</p>
</div>
<button type="button" class="btn btn-dark"> 
	<%= link_to "Back To Home Page", root_path %>	
</button>