 <center>
 	<%# binding.pry %>
 	<%= image_tag @book.image.url, class: "column", width: "20%" %></center>
 <h2><%= @book.book_name %></h2>
  <p1><%= @book.book_descriptions %></p1>
 
  <br><div class="column">
   