<center><%= link_to "Back", root_path %></center>

<div class="page-wrap">
	<h1>View All Services Details 
	</h1>
	<button type="button", class="btn1">
	 <%= link_to "Exclusive Packages", details_page_path %>
	 </button>
	 <button type="button", class="btn1">
	 <%= link_to "Facial & Hair services", details_page_path %>
	 </button>
</div>
<footer class="site-footer">
</footer>


